---
import Layout from "../layouts/Layout.astro";
import FirstView from "../components/FirstView.astro";
import Products from "../components/Products.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <FirstView />
    <Products />
		<Skills />
  </main>
</Layout>
