---
---

<section class="bg-neutral-100 py-16 md:py-24" id="career">
  <div class="px-5 md:px-10">
    <h2 class="font-bold text-2xl md:text-3xl text-center">経歴</h2>
    <div class="flex gap-8 items-start mt-5 md:mt-10">
      <img
        src="https://placehold.jp/300x300.png"
        alt=""
        class="block rounded-full w-[150px]"
      />
      <p>
        テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。<br
        />
        <br />
        テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
      </p>
    </div>
  </div>
</section>
