---
---

<section class="py-16 md:py-24" id="contact">
  <div class="px-5 md:px-10">
    <h2 class="font-bold text-2xl md:text-3xl text-center">CONTACT</h2>
    <div class="mt-5 md:mt-10">
      <p class="text-center">お問い合わせはSNS・メールにて承っております。</p>
      <p class="text-center">
        （SNSでは業務・技術的な発信はあまり行なっていません）
      </p>
    </div>
    <div class="mt-5 md:mt-10">
      <p class="text-center">daisuke.yuma@at-bat.me</p>
      <p class="text-center">
        <a href="https://twitter.com/texas_leaguer" target="_blank"
          >Twitter</a
        >
      </p>
    </div>
  </div>
</section>
