---
---

<header class="bg-white fixed shadow top-0 w-full z-10">
  <div
    class="flex gap-5 justify-between items-center px-4 md:px-10 py-4 md:py-5"
  >
    <h1 class="font-bold leading-5 mr-4 text-sm md:text-xl">
      <a href="/">DAISUKE YUMA</a>
    </h1>
    <nav>
      <ul
        class="flex gap-4 items-center justify-between list-none text-xs md:text-sm"
      >
        <li class="whitespace-nowrap">
          <a
            href="javascript:void(0)"
            id="navItem_0"
            data-target-id="products"
            class="duration-300 font-bold relative after:absolute after:block after:bg-black after:content-[''] after:bottom-[-5px] after:duration-300 after:h-[3px] after:left-1/2 after:-translate-x-1/2 after:w-0 hover:after:w-full"
            >プロダクト</a
          >
        </li>
        <li class="whitespace-nowrap">
          <a
            href="javascript:void(0)"
            id="navItem_1"
            data-target-id="skills"
            class="duration-300 font-bold relative after:absolute after:block after:bg-black after:content-[''] after:bottom-[-5px] after:duration-300 after:h-[3px] after:left-1/2 after:-translate-x-1/2 after:w-0 hover:after:w-full"
            >スキル</a
          >
        </li>
        <li class="whitespace-nowrap">
          <a
            href="javascript:void(0)"
            id="navItem_2"
            data-target-id="career"
            class="duration-300 font-bold relative after:absolute after:block after:bg-black after:content-[''] after:bottom-[-5px] after:duration-300 after:h-[3px] after:left-1/2 after:-translate-x-1/2 after:w-0 hover:after:w-full"
            >経歴</a
          >
        </li>
        <li class="whitespace-nowrap">
          <a href="javascript:void(0)" id="navItem_3"
            ><span
              class="align-middle material-icons text-[24px] md:text-[32px]"
              data-target-id="contact">mail_outline</span
            ></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  /**
   * スクロール
   * @param elm クリックされた要素
   */
  const scroll = (elm: HTMLElement) => {
    const id = elm.dataset.targetId || "";
    const target = document.querySelector(`#${id}`);
    target?.scrollIntoView({ behavior: "smooth" });
  };
  // クリック時のイベントリスナーを設定
  for (let i = 0, len = 4; i < len; i++) {
    document
      .querySelector(`#navItem_${i}`)
      ?.addEventListener("click", (e: Event) => {
        scroll(e.target as HTMLElement);
      });
  }
</script>
