---
---

<header class="bg-white fixed shadow top-0 w-full z-10">
  <div
    class="flex gap-5 justify-between items-center px-4 md:px-10 py-4 md:py-5"
  >
    <h1 class="font-bold leading-5 mr-4 text-sm md:text-xl">
      <a href="/">DAISUKE YUMA</a>
    </h1>
    <nav>
      <ul
        class="flex gap-2 md:gap-4 justify-between list-none text-xs md:text-sm"
      >
        <li class="whitespace-nowrap"><a href="#products">プロダクト</a></li>
        <li class="whitespace-nowrap"><a href="#b">スキル</a></li>
        <li class="whitespace-nowrap"><a href="#c">経歴</a></li>
        <li class="whitespace-nowrap"><a href="#d">プロダクト</a></li>
        <li class="whitespace-nowrap"><a href="#e">その他</a></li>
      </ul>
    </nav>
  </div>
</header>
