---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans text-base text-slate-700 tracking-wider">
    <header class="fixed shadow w-full">
      <div class="flex justify-between items-center px-10 py-5">
        <h1 class="font-bold leading-5 mr-4 text-xl">
          <a href=".">DAISUKE YUMA</a>
        </h1>
        <nav>
          <ul class="flex gap-4 justify-between list-none text-sm">
            <li class="gnav-item"><a href="#a">プロフィール</a></li>
            <li class="gnav-item"><a href="#b">スキル</a></li>
            <li class="gnav-item"><a href="#c">経歴</a></li>
            <li class="gnav-item"><a href="#d">プロダクト</a></li>
            <li class="gnav-item"><a href="#e">その他</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <slot />
  </body>
</html>
<!-- <style is:global></style> -->
